<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        &nbsp;<img src="assets/images/logo_film.jpg"height="50" width="50" />
        &nbsp;<h1 class="title is-1, text">&nbsp;Filmotec</h1>
    </div>
    <div id="menu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a  [routerLink]="['/']" class="button is-light">
                        Acceuil
                    </a>
                    <a [routerLink]="['/liste']" class="button is-light">
                        Liste Personnelle
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>